

.container {
	width: 1110px;
	margin: 0 auto;
}

.containers {
	width: 227px
	height: 178px;
	padding-right: 52px;
	float: left;
}

.header {
	 background-color: rgb(39,39,39)
}

.menu {
	float: right;
	padding: 15px;
}

.logo {
	padding: 42px;
}

.feature {
	 background-color: rgb(42,42,42)
}

.headline {
	padding: 60px;
}

.button {
	margin: 60px auto 0px 455px;
}

.services {
	background-color: rgb(248,248,248);
}
















